<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/main.css" rel="stylesheet" />
  </head>
  <body class="grey-bg">
    <%- include('nav.ejs') %>

    <div class="detail-bg">
      <h4><%= 글목록.title %></h4>
      <p><%= 글목록.content %></p>
      <form action="/edit/<%= 글목록._id %>">
        <button type="submit">수정하기</button>
      </form>
    </div>
  </body>
</html>
