{% extends 'base.html' %}

{% block content %}

  <h3>This is index page</h3>
  <a href="{% url 'movies:create' %}">
    <button class="btn btn-outline-primary">영화 DB 추가</button>
  </a>

  <table class="container table">
    <thead>
      <tr>
        <th>PK
        </th>
        <th>
          영화제목
        </th>
      </tr>
    </thead>
    <tbody>
      {% for movie in movies %}
        <tr>
          <td>{{ movie.pk }}</td>
          <td>
            <a href="{% url 'movies:detail' movie.pk %}">
              {{ movie.title }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}